@import 'general/normalize.css';
@import 'general/general.css';
@import 'general/fonts.css';
@import 'general/owl.carousel.css';
@import 'general/jquery.bxslider.css';
@import 'general/video-js.css';
@import 'general/jquery.fancybox.css';
@import 'general/fancybox.css';
@import 'general/animate.css';
@import 'general/slider.css';
@import 'general/hover.css';
@import 'general/jquery-ui.css';
@import 'fonts/font-awesome/css/font-awesome.min.css';


@import 'lg/main.css';
@import 'md/main.css' (max-width: 1366px);
@import 'sm/main.css' (max-width: 991px);
@import 'xs/main.css' (max-width: 767px);
