div.news, div.newspaper {
  padding-left: 20px;
}
span.number{
  font-size: 100px !important;
}
div.text nav {
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.articleContent div.img  div.frame {
  height:250px;
}
.articleContent div.img  div.frame img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 95%;
  width: auto !important;
}
.articleContent div.news {
  padding-top: 20px;
  padding-bottom: 0px;
}
.col-xs-12 {
  padding-left: 20px;
  padding-right: 20px;
}
iframe {
  height: auto;
}
.owl-carousel .owl-wrapper-outer {
  height: 95%;
  overflow: hidden;
}
div.text nav ul li a {
  font-size: 16px;
  line-height: 24px;
}
.news h1:lang(ka), .event h2:lang(ka), .news h1:lang(en), .event h2:lang(en) {
  font-size: 20px;
}

.menu{
   padding: 50px 20px 20px !important;
}
nav ul li, nav ul li a {
  font-size: 24px;
  margin: 0px;
}
nav ul li:lang(ka), nav ul li a:lang(ka), .eventImg h2:lang(ka) {
  font-size: 20px;
  line-height: 30px;

}
label:lang(ka) {
  font-size: 18px;
}
.contactInfo span, .copyright {
  margin-bottom: 0px;
}
.articleContent div.img  div.frame {
  height:250px;
}
.eventFrame {
  height: 240px;
}
iframe {
  height: 150px !important;
}
article.events:first-child .eventImg .eventFrame {
  border: 1px solid #ec0000;
}
.eventsLoop, .singleEvent {
  padding-top: 120px;
}
.eventsLoop article div.event {
  margin-top: 20px !important;
  margin-bottom: 20px !important;

}
.date {
  /* width: 100%; */
  height: 30px;
  /*   margin-top: 10px; */
  position: static;
  transform: rotate(0deg);
  transform-origin: top right;
}
.text{
  width: 100%;
  margin-top: 0px;
  margin-left: 0px;
}
@media (max-width: 470px) {
  a.col-lg-6.logoImage {
    width: 180px;
    margin-top: 10px;
}
.nav-devices svg {
  width: 150px;
  margin-top: 12px;
}
.paper article:first-child {
  margin-top: 80px;
}
}
@media (max-width: 360px) {
  a.col-lg-6.logoImage {
    width: 160px;
    margin-top: 10px;
}
.nav-devices svg {
  width: 125px;
  margin-top: 12px;
}
}
