.nav-desktop {
  display: none;
}
.nav-devices {
  display: block;
}
div.img {
  position: relative;
}
div.frame {
  width: 100%;
  height:100%;
  position: relative;
  left:0px;
  top:0px;
  padding: 20px;
  margin-bottom: 30px;
}
div.frame img {
  width: 100%;
  position: relative;
}
.paper article {
  margin-bottom: 30px;
}
.paper article:first-child {
  margin-top: 100px;
}
.paper article:last-child {
  margin-bottom: 0px;
}
.col-sm-12 {
  padding-left: 60px;
  padding-right: 60px;
}
header.logo div {
  height: auto;
}
header.logo div img {
  position: relative;
  right: 10px;
}
header div button {
  font-size: 20px;
}
header div button:lang(en){
  line-height: 24px;
}
/* navigation */
.nav-devices svg {
  width: 210px;
  margin-top: 10px;
}
.menu {
  padding: 0px 50px 50px !important;
}
nav ul li, nav ul li a {
  margin-left: 0px;
  padding-left: 0px;
}
span.number{
  font-size: 100px !important;
}
div.news, div.newspaper {
  height: auto !important;
  min-height: 50px;
  padding-left: 60px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.text{
  width: 90%;
  margin-top: -70px;
  margin-left: 60px;
}
p:lang(ka) {
  font-size: 14px;
}
.paperContent div.img, .articleContent div.img  {
  margin-top: 120px;
}
//
div.text nav {
  margin-left: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.articleContent div.img  div.frame {
  height:400px;
}
.articleContent div.img  div.frame img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 80%;
  width: auto !important;
}
.articleContent div.news {
  padding-top: 20px;
  padding-bottom: 0px;
}
.eventFrame, .singleEvent .eventImg  .eventFrame {
  padding: 40px;
}
iframe {
  height: 300px !important;
  margin-top: 0px;
}
article.events {
  height: auto;
}
.eventsLoop article div.eventImg .eventFrame {
  margin-right: 0px;
}
.eventsLoop article div.eventImg .eventFrame img {
  /*height: 80%;*/
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 40px;
}
.eventsLoop article div.event  {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.event p {
  padding-right: 0px;
}
.event .date {
  position: relative;
  width: 100%;
  height: 50px;
  left: 0px;
}
.event .date span{
      transform: initial;
}
.event .date span#dateOne,
.event .date span#month,
.event .date span#year {
  top: 0px;
  left: 0px;
  display: inline-block;
  margin: 0px;
  font-size: 16px;
  color: #000;
}
article.events:first-child .event .date #dateOne,
article.events:first-child .event .date #month,
article.events:first-child .event .date #year {
  color: #ec0000 !important;
}
.event .date span#month:lang(en) {
  left: 0px;
}
article.events:first-child .eventImg {
  background-color: #fff;
}
article.events:first-child .eventImg .eventFrame {
  border-color: #ec0000 !important;
}
.singleEvent .aboutImg  .eventFrame {
  padding: 50px;
}
.hideLogo {
  display: none;
}
/* 404 page */
.error404 {
  margin-top: 120px;
}
.error404 h1 {
  font-size: 80px;
}
header.logo {
  /* position: static; */
  /* height: auto; */
}
