.fancybox-wrap {
  outline: 0 !important;
}

#fancybox-outer,
.fancybox-skin {
  border-radius: 0 !important;
  border: 11px solid #8bc337 !important;
}

.fancybox-opened .fancybox-skin {
  box-shadow: none !important;
}

.myClose{
  position: absolute;
  top: -69px;
  right: -11px;
  width: 58px;
  height: 58px;
  background-color: transparent;
  text-align: center;
}

.myClose i{
  color: #fff;
  font-size: 24px;
  line-height: 58px;
}

.myPrev,
.myNext{
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  color: #fff;
  font-size: 36px;
}

.myPrev{
  text-align: left;
  left: 0;
}

.myNext{
  text-align: right;
  right: 0;
}

.myPrev i{
  margin-left: 30px;
}

.myNext i{
  margin-right: 30px;
}