/* START General */

* {
	outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
  opacity: 1;

  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
      -ms-transition: opacity 1s;
          transition: opacity 1s;
}

body.visible {
  opacity: 1;
  overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
	display: inline-block;
	text-decoration: none;
  color: #000;
}

p {
	margin: 0;
}

i{
  display: inline-block;
}

span{
  display: inline-block;
}

img{
  max-width: 100%;
}

ul{
  margin: 18px 0;
  padding: 0;
}

li, ol {
  margin: 2px 17px;
  padding: 0;
  padding-left: 8px;
}

.clear {
	clear: both;
}
.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-middle {
	vertical-align: middle;
}

.text-middle:before {
  vertical-align: middle;
  display: inline-block;
  height: 100%;
  content: " ";
}

.text-middle > * {
	vertical-align: middle;
}


/* START Bootstrap Responsive */

.container {
	width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
	width: 100%;
}

.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after,
.container:after,
.container-fluid:after {
  clear: both;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12,
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12,
.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12,
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
	position: relative;
	min-height: 1px;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.col-lg-1 { width: 8.33333333%; }
.col-lg-2 { width: 16.66666667%; }
.col-lg-3 { width: 25%; }
.col-lg-4 { width: 33.33333333%; }
.col-lg-5 { width: 41.66666667%; }
.col-lg-6 { width: 50%; }
.col-lg-7 { width: 58.33333333%; }
.col-lg-8 { width: 66.66666667%; }
.col-lg-9 { width: 75%; }
.col-lg-10 { width: 83.33333333%; }
.col-lg-11 { width: 91.66666667%; }
.col-lg-12 { width: 100%; }

.col-lg-push-0 { left: 0; }
.col-lg-push-1 { left: 8.33333333%; }
.col-lg-push-2 { left: 16.66666667%; }
.col-lg-push-3 { left: 25%; }
.col-lg-push-4 { left: 33.33333333%; }
.col-lg-push-5 { left: 41.66666667%; }
.col-lg-push-6 { left: 50%; }
.col-lg-push-7 { left: 58.33333333%; }
.col-lg-push-8 { left: 66.66666667%; }
.col-lg-push-9 { left: 75%; }
.col-lg-push-10 { left: 83.33333333%; }
.col-lg-push-11 { left: 91.66666667%; }
.col-lg-push-12 { left: 100%; }

.col-lg-pull-0 { right: 0; }
.col-lg-pull-1 { right: 8.33333333%; }
.col-lg-pull-2 { right: 16.66666667%; }
.col-lg-pull-3 { right: 25%; }
.col-lg-pull-4 { right: 33.33333333%; }
.col-lg-pull-5 { right: 41.66666667%; }
.col-lg-pull-6 { right: 50%; }
.col-lg-pull-7 { right: 58.33333333%; }
.col-lg-pull-8 { right: 66.66666667%; }
.col-lg-pull-9 { right: 75%; }
.col-lg-pull-10 { right: 83.33333333%; }
.col-lg-pull-11 { right: 91.66666667%; }
.col-lg-pull-12 { right: 100%; }

.col-lg-offset-0 { margin-left: 0; }
.col-lg-offset-1 { margin-left: 8.33333333%; }
.col-lg-offset-2 { margin-left: 16.66666667%; }
.col-lg-offset-3 { margin-left: 25%; }
.col-lg-offset-4 { margin-left: 33.33333333%; }
.col-lg-offset-5 { margin-left: 41.66666667%; }
.col-lg-offset-6 { margin-left: 50%; }
.col-lg-offset-7 { margin-left: 58.33333333%; }
.col-lg-offset-8 { margin-left: 66.66666667%; }
.col-lg-offset-9 { margin-left: 75%; }
.col-lg-offset-10 { margin-left: 83.33333333%; }
.col-lg-offset-11 { margin-left: 91.66666667%; }
.col-lg-offset-12 { margin-left: 100%; }

.lg-block{ display: block !important; }
.lg-iblock{ display: inline-block !important; }
.lg-none{ display: none !important; }

.lg-p-0 { padding-left: 0; padding-right: 0; }
.lg-pl-0 { padding-left: 0; }
.lg-pr-0 { padding-right: 0; }

.lg-p-15 { padding-left: 15px; padding-right: 15px; }
.lg-pl-15 { padding-left: 15px; }
.lg-pr-15 { padding-right: 15px; }

.row.p-0 > *[class^="col-"] { padding-left: 0; padding-right: 0; }

@media (max-width: 1199px) {
	.container {
		width: 970px;
	}

  .col-md-1 { width: 8.33333333%; }
  .col-md-2 { width: 16.66666667%; }
  .col-md-3 { width: 25%; }
  .col-md-4 { width: 33.33333333%; }
  .col-md-5 { width: 41.66666667%; }
  .col-md-6 { width: 50%; }
  .col-md-7 { width: 58.33333333%; }
  .col-md-8 { width: 66.66666667%; }
  .col-md-9 { width: 75%; }
  .col-md-10 { width: 83.33333333%; }
  .col-md-11 { width: 91.66666667%; }
  .col-md-12 { width: 100%; }

  .col-md-push-0 { left: 0; }
  .col-md-push-1 { left: 8.33333333%; }
  .col-md-push-2 { left: 16.66666667%; }
  .col-md-push-3 { left: 25%; }
  .col-md-push-4 { left: 33.33333333%; }
  .col-md-push-5 { left: 41.66666667%; }
  .col-md-push-6 { left: 50%; }
  .col-md-push-7 { left: 58.33333333%; }
  .col-md-push-8 { left: 66.66666667%; }
  .col-md-push-9 { left: 75%; }
  .col-md-push-10 { left: 83.33333333%; }
  .col-md-push-11 { left: 91.66666667%; }
  .col-md-push-12 { left: 100%; }

  .col-md-pull-0 { right: 0; }
  .col-md-pull-1 { right: 8.33333333%; }
  .col-md-pull-2 { right: 16.66666667%; }
  .col-md-pull-3 { right: 25%; }
  .col-md-pull-4 { right: 33.33333333%; }
  .col-md-pull-5 { right: 41.66666667%; }
  .col-md-pull-6 { right: 50%; }
  .col-md-pull-7 { right: 58.33333333%; }
  .col-md-pull-8 { right: 66.66666667%; }
  .col-md-pull-9 { right: 75%; }
  .col-md-pull-10 { right: 83.33333333%; }
  .col-md-pull-11 { right: 91.66666667%; }
  .col-md-pull-12 { right: 100%; }

  .col-md-offset-0 { margin-left: 0; }
  .col-md-offset-1 { margin-left: 8.33333333%; }
  .col-md-offset-2 { margin-left: 16.66666667%; }
  .col-md-offset-3 { margin-left: 25%; }
  .col-md-offset-4 { margin-left: 33.33333333%; }
  .col-md-offset-5 { margin-left: 41.66666667%; }
  .col-md-offset-6 { margin-left: 50%; }
  .col-md-offset-7 { margin-left: 58.33333333%; }
  .col-md-offset-8 { margin-left: 66.66666667%; }
  .col-md-offset-9 { margin-left: 75%; }
  .col-md-offset-10 { margin-left: 83.33333333%; }
  .col-md-offset-11 { margin-left: 91.66666667%; }
  .col-md-offset-12 { margin-left: 100%; }

	.text-md-left { text-align: left !important; }
	.text-md-right { text-align: right !important; }
	.text-md-center { text-align: center !important; }
	.text-md-justify { text-align: justify !important; }

  .md-block{ display: block !important; }
  .md-iblock{ display: inline-block !important; }
  .md-none{ display: none !important; }

  .md-p-0 { padding-left: 0; padding-right: 0; }
  .md-pl-0 { padding-left: 0; }
  .md-pr-0 { padding-right: 0; }

  .md-p-15 { padding-left: 15px; padding-right: 15px; }
  .md-pl-15 { padding-left: 15px; }
  .md-pr-15 { padding-right: 15px; }
}

@media (max-width: 991px) {
	.container {
		width: 730px;
	}

  .col-sm-1 { width: 8.33333333%; }
  .col-sm-2 { width: 16.66666667%; }
  .col-sm-3 { width: 25%; }
  .col-sm-4 { width: 33.33333333%; }
  .col-sm-5 { width: 41.66666667%; }
  .col-sm-6 { width: 50%; }
  .col-sm-7 { width: 58.33333333%; }
  .col-sm-8 { width: 66.66666667%; }
  .col-sm-9 { width: 75%; }
  .col-sm-10 { width: 83.33333333%; }
  .col-sm-11 { width: 91.66666667%; }
  .col-sm-12 { width: 100%; }

  .col-sm-push-0 { left: 0; }
  .col-sm-push-1 { left: 8.33333333%; }
  .col-sm-push-2 { left: 16.66666667%; }
  .col-sm-push-3 { left: 25%; }
  .col-sm-push-4 { left: 33.33333333%; }
  .col-sm-push-5 { left: 41.66666667%; }
  .col-sm-push-6 { left: 50%; }
  .col-sm-push-7 { left: 58.33333333%; }
  .col-sm-push-8 { left: 66.66666667%; }
  .col-sm-push-9 { left: 75%; }
  .col-sm-push-10 { left: 83.33333333%; }
  .col-sm-push-11 { left: 91.66666667%; }
  .col-sm-push-12 { left: 100%; }

  .col-sm-pull-0 { right: 0; }
  .col-sm-pull-1 { right: 8.33333333%; }
  .col-sm-pull-2 { right: 16.66666667%; }
  .col-sm-pull-3 { right: 25%; }
  .col-sm-pull-4 { right: 33.33333333%; }
  .col-sm-pull-5 { right: 41.66666667%; }
  .col-sm-pull-6 { right: 50%; }
  .col-sm-pull-7 { right: 58.33333333%; }
  .col-sm-pull-8 { right: 66.66666667%; }
  .col-sm-pull-9 { right: 75%; }
  .col-sm-pull-10 { right: 83.33333333%; }
  .col-sm-pull-11 { right: 91.66666667%; }
  .col-sm-pull-12 { right: 100%; }

  .col-sm-offset-0 { margin-left: 0; }
  .col-sm-offset-1 { margin-left: 8.33333333%; }
  .col-sm-offset-2 { margin-left: 16.66666667%; }
  .col-sm-offset-3 { margin-left: 25%; }
  .col-sm-offset-4 { margin-left: 33.33333333%; }
  .col-sm-offset-5 { margin-left: 41.66666667%; }
  .col-sm-offset-6 { margin-left: 50%; }
  .col-sm-offset-7 { margin-left: 58.33333333%; }
  .col-sm-offset-8 { margin-left: 66.66666667%; }
  .col-sm-offset-9 { margin-left: 75%; }
  .col-sm-offset-10 { margin-left: 83.33333333%; }
  .col-sm-offset-11 { margin-left: 91.66666667%; }
  .col-sm-offset-12 { margin-left: 100%; }

	.text-sm-left { text-align: left !important; }
	.text-sm-right { text-align: right !important; }
	.text-sm-center { text-align: center !important; }
	.text-sm-justify { text-align: justify !important; }

  .sm-block{ display: block !important; }
  .sm-iblock{ display: inline-block !important; }
  .sm-none{ display: none !important; }

  .sm-p-0 { padding-left: 0; padding-right: 0; }
  .sm-pl-0 { padding-left: 0; }
  .sm-pr-0 { padding-right: 0; }

  .sm-p-15 { padding-left: 15px; padding-right: 15px; }
  .sm-pl-15 { padding-left: 15px; }
  .sm-pr-15 { padding-right: 15px; }
}

@media (max-width: 767px) {
	.container {
		width: 100%;
	}

  .col-xs-1 { width: 8.33333333%; }
  .col-xs-2 { width: 16.66666667%; }
  .col-xs-3 { width: 25%; }
  .col-xs-4 { width: 33.33333333%; }
  .col-xs-5 { width: 41.66666667%; }
  .col-xs-6 { width: 50%; }
  .col-xs-7 { width: 58.33333333%; }
  .col-xs-8 { width: 66.66666667%; }
  .col-xs-9 { width: 75%; }
  .col-xs-10 { width: 83.33333333%; }
  .col-xs-11 { width: 91.66666667%; }
  .col-xs-12 { width: 100%; }

  .col-xs-push-0 { left: 0; }
  .col-xs-push-1 { left: 8.33333333%; }
  .col-xs-push-2 { left: 16.66666667%; }
  .col-xs-push-3 { left: 25%; }
  .col-xs-push-4 { left: 33.33333333%; }
  .col-xs-push-5 { left: 41.66666667%; }
  .col-xs-push-6 { left: 50%; }
  .col-xs-push-7 { left: 58.33333333%; }
  .col-xs-push-8 { left: 66.66666667%; }
  .col-xs-push-9 { left: 75%; }
  .col-xs-push-10 { left: 83.33333333%; }
  .col-xs-push-11 { left: 91.66666667%; }
  .col-xs-push-12 { left: 100%; }

  .col-xs-pull-0 { right: 0; }
  .col-xs-pull-1 { right: 8.33333333%; }
  .col-xs-pull-2 { right: 16.66666667%; }
  .col-xs-pull-3 { right: 25%; }
  .col-xs-pull-4 { right: 33.33333333%; }
  .col-xs-pull-5 { right: 41.66666667%; }
  .col-xs-pull-6 { right: 50%; }
  .col-xs-pull-7 { right: 58.33333333%; }
  .col-xs-pull-8 { right: 66.66666667%; }
  .col-xs-pull-9 { right: 75%; }
  .col-xs-pull-10 { right: 83.33333333%; }
  .col-xs-pull-11 { right: 91.66666667%; }
  .col-xs-pull-12 { right: 100%; }

  .col-xs-offset-0 { margin-left: 0; }
  .col-xs-offset-1 { margin-left: 8.33333333%; }
  .col-xs-offset-2 { margin-left: 16.66666667%; }
  .col-xs-offset-3 { margin-left: 25%; }
  .col-xs-offset-4 { margin-left: 33.33333333%; }
  .col-xs-offset-5 { margin-left: 41.66666667%; }
  .col-xs-offset-6 { margin-left: 50%; }
  .col-xs-offset-7 { margin-left: 58.33333333%; }
  .col-xs-offset-8 { margin-left: 66.66666667%; }
  .col-xs-offset-9 { margin-left: 75%; }
  .col-xs-offset-10 { margin-left: 83.33333333%; }
  .col-xs-offset-11 { margin-left: 91.66666667%; }
  .col-xs-offset-12 { margin-left: 100%; }

	.text-xs-left { text-align: left !important; }
	.text-xs-right { text-align: right !important; }
	.text-xs-center { text-align: center !important; }
	.text-xs-justify { text-align: justify !important; }

  .xs-block{ display: block !important; }
  .xs-iblock{ display: inline-block !important; }
  .xs-none{ display: none !important; }

  .xs-p-0 { padding-left: 0; padding-right: 0; }
  .xs-pl-0 { padding-left: 0; }
  .xs-pr-0 { padding-right: 0; }

  .xs-p-15 { padding-left: 15px; padding-right: 15px; }
  .xs-pl-15 { padding-left: 15px; }
  .xs-pr-15 { padding-right: 15px; }
}
