body{
  /*font-size: 12px;
  font-family: "ProximaNovaA-Regular";*/
}
html:lang(en){
  font-family: deja;
  font-size: 14px;
}
.upper-1{

}

.upper-2{

}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  text-transform: uppercase;
  margin: 0 !important;
}
h1, h2, h4, h5, h6 {
  font-family: "ArchyEDT-Bold", sans-serif;
}

span.number {
   font-family: alva !important;
   font-size: 180px;
}
.news h2:lang(ka),
.news a:lang(ka),
.event a:lang(ka) {
  font-family: "ArchyEDT-Bold", sans-serif  !important;
}

.news h1:lang(ka), .event h2:lang(ka) {
  font-family: alva !important;
  margin-bottom: 30px;
  margin-top: 30px;
}
p:lang(ka) {
  font-family: deja !important;
  font-size: 15px;
  line-height: 20px;
}
.black {
  color: #000 !important;
}
.back:lang(ka) {
  font-family: "ArchyEDT-Bold", sans-serif !important;
  font-size: 18px;
  color: black;
  margin-top: 20px;
  display: block;
}
nav:lang(en), .socials label:lang(en), .contactInfo label:lang(en) {
  font-family: "ArchyEDT-Bold", sans-serif  !important;
  text-transform: uppercase;
}
#month:lang(en){
  font-family: enDejaExtra !important;

}
.news a:lang(en), .back:lang(en), .aboutImg h2:lang(en), .eventImg h2:lang(en){
  font-family: "ArchyEDT-Bold", sans-serif  !important;
  text-transform: uppercase;
  font-size: 20px;
}
div.text nav ul li a:lang(en){
  font-family: "ArchyEDT-Bold", sans-serif !important;
  font-weight: 100;
  text-transform: uppercase;
  color: #323f46 !important;
}
.date span:lang(en) {
  font-family: enDejaExtra !important;
}














/* FONT FAMILY */
@font-face {
    font-family: dejaExtraLight;
    src: url('../fonts/DejaVuSans-ExtraLight.ttf');
}
@font-face {
    font-family: deja;
    src: url('../fonts/dejavu-sans-condensed-webfont.woff');
    src: url('../fonts/dejavu-sans-condensed-webfont.ttf');
}
@font-face {
    font-family: alva;
    src: url('../fonts/Alva-Normal.woff');
    src: url('../fonts/Alva-Normal.ttf');
}
@font-face {
    font-family: ArchyEDT-Bold;
    src: url('../fonts/archyedt-bold-webfont.woff');
    src: url('../fonts/archyedt-bold-webfont.ttf');
}
@font-face {
  font-family: 'gremi';
  src: url('../fonts/GeoGremi-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/GeoGremi-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}
@font-face {
  font-family: 'enDejaExtra';
  src: url('../fonts/DejaVuSans-ExtraLight.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('../fonts/DejaVuSans-ExtraLight.woff');
}
@font-face {
  font-family: 'enDeja';
  src: url('../fonts/DejaVuSans.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('../fonts/DejaVuSans.woff');
}
@font-face {
  font-family: 'MyriadBold
  src: url('../fonts/Myriad-Pro-Bold-Condensed_31625.ttf')  format('truetype'); /* Safari, Android, iOS */
  src: url('../fonts/Myriad-Pro-Bold-Condensed_31625.woff');
}

/* url('../fonts/GeoGremi-Regular.woff2') format('woff2')  Super Modern Browsers  */
