header div button {
  background-color: rgba(245, 245, 245, 0);
  border: none;
  font-family: alva;
  font-size: 30px;
  position: absolute;
  top: 35px;
  right: 30px;
  outline: 0px;
}
header div button:lang(en){
  font-family: deja;
  font-family: deja;
  text-transform: uppercase;
  line-height: 36px;
  letter-spacing: 1px;

}
nav {
  font-family: alva;
  font-weight: bold;
}
div.text nav ul li a {
 font-family: alva !important;
 font-weight: bold;
}
div.text nav{
  margin-left: 120px;
  margin-top: 40px;
}
nav ul {
  padding: 0px !important;
}
nav ul li, nav ul li a {
   color: #fff;
   font-size: 30px;
   text-decoration: none;
   list-style: none;
   margin-bottom: 20px;
}
label {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  font-family: alva;
}
body section {
  position: relative;
  z-index:  2;
}
header.logo {
  height: 50px;
  position: fixed;
  padding: 0px;
  z-index: 5;
}
header.logo div {
  height: 100px;
}
header.logo div img {
  position: absolute;
  top: 35px;
  right: 10%;
}
.menu {
  position: fixed !important;
  right: 0px;
  visibility: hidden;
  background-color: black;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.92);
  height: 100%;
  z-index: 1;
  padding: 150px 50px 50px !important;
  overflow-y: scroll;
}
.main-container {
  padding:0px !important;
  margin:0px;
}
div.img {
  position: fixed;
}
div.img .frame {
  opacity: 0;
}
section.paperContent div.img .frame{
  opacity: 1;
}
div.frame {
  width: 40%;
  height: 70%;
  position: fixed;
  left: 5%;
  top: 100px;
  bottom: 0px;
  margin: auto;
  border: 1px solid black;
  padding: 70px;
  overflow: hidden;
}
span.line {
  width: 70px;
  height: 2px;
  display: block;
  position: absolute;
  border-top: 1px solid black;
}
#one {
  left:0px;
  top: 35px;
  transform: rotate(45deg);
}
#two {
  right: 0px;
  top: 35px;
  transform: rotate(135deg);
}
#three {
  left:0px;
  bottom: 35px;
  transform: rotate(-45deg);
}
#four {
  right: 0px;
  bottom: 35px;
  transform: rotate(45deg);
}
.circle {
  height: 10px;
  width: 10px;
  background-color: #000;
  display: block;
  border-radius: 50%;
  position: absolute;
}
#onecircle {
  right: 10px;
  top: -5px;
}
#twocircle {
  left: 10px;
  top: -5px;
}

div.frame img {
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px;
}
div.news {
  min-height: 650px;;
  padding-top: 80px;
  padding-left: 50px;
  float: right;
  background-color: #eee;
}
.paperContent div.news {
  height: 100%;
  background-color: #eee;
  overflow-y: scroll;
}
.paper article {
  width: 100%;
  display: inline-block;
  margin-bottom: -6px;
}
.active div.img .frame, .articleContent div.img .frame {
  opacity: 1;
  animation-name: show;
  animation-duration: 1s;
}
.active div.news .number {
  color: #fff;
  /*color: #607d8b;*/
}
.passive div.img .frame, .passive .articleContent div.img .frame{
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}
.passiveImg div.img,  .passiveImg .articleContent div.img{
  opacity: 0;
  animation-name: hide;
  animation-duration: 1s;
}
.text {
  width: 80%;
  margin-left: 100px;
  position: relative;
  top: -100px;
}
.articleContent div.news .text {
  top: 0;
  margin-left: 0px;
}
.articleContent div.news {
  height: 100%;
  background-color: #fff;
}
.articleContent div.news .text h1{
  margin-top: 50px;
}
.articleContent div.news .text .date {
  margin-bottom: 50px;
    margin-bottom: 50px;
    position: absolute;
    width: 300px;
    right: 0px;
}
.articleContent div.news a {
  margin-bottom: 50px;
}
.date {
  width: 100%;
  height: 30px;
  display: block;
  margin-top: 10px;
}
.date span {
  font-family: alva !important;
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  float: left;
}
#dateLine {
  border-top: 1px solid black;
  width: 50px;
  display: block;
  margin: 12px 5px 0px 5px;
}
#month {
  font-family: alva !important;
  font-weight: 800;
  font-size: 16px;
  color: #fff;
}
#year {
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  /*color: #607D8B;*/
}
.socials, .contactInfo {
  margin-top: 10%;
}
.contactInfo span, .copyright {
  display: block;
  color: #fff;
  font-family: deja;
  margin-bottom: 15px;
}
#phone {
  color: #fff !important;
  -webkit-text-fill-color:  #fff !important;
}
.copyright {
  margin-top: 70px;
}
.open {
  opacity: 1;
  z-index: 3;
  visibility: visible;
}
.buttonColor {
  color: #fff;
}
iframe {
  margin-top: 30px;
}

.seeMore {
  font-size: 20px;
}

/* FONTS */
.news a {
  font-size: 18px;
  color: black;
  margin-top: 20px;
  display: block;
}
.news a:hover {
  text-decoration: none;
}

/* EVENTS */
/*article.events:first-child {
  padding-top: 120px;
}*/
article.events:first-child .eventImg {
  background-color: #ec0000;
}

article.events:first-child .eventImg .eventFrame {
  border-color: #fff !important;
}
article.events:first-child .event .date,
article.events:first-child .event .date #year
{
  color: #fff !important;
}
article.events:first-child .event .date #dateOne
{
  color: #fff !important;
}
article.events:first-child .event .date #month
{
  color: #fff !important;
}
article.events:first-child .event .date #dateLine {
  border-color:#fff !important;
}
article.events {
  height: 350px;
  overflow: hidden;
}
.event p {
  padding-right: 100px;
  text-align: justify;
}
.event h2 {
  padding-right: 100px;
  font-size: 24px;
  line-height: 34px;
}
.eventFrame {
  border: 1px solid #9e9e9e;
  margin-right: 80px;
  height: 300px;
  padding: 20px;
}
.eventsLoop article .eventImg .eventFrame{
  border: 0px;
  border-right: 1px solid #9e9e9e;
}
.eventFrame img {
  height: 100%;
  float: right;
}
.event .date {
    width: 23px;
    height: 100%;
    display: block;
    position: absolute;
    left: -80px;
    bottom: 0px;
}
.event .date span {
    display: inline-block;
    float: none;
    position: relative;
    transform: rotate(-90deg);
}
.event .date span#dateOne {
    top: 190px;
}
.event .date span#dateLine {
    top: 210px;
    left: -24px;
    margin: -13px 0px -25px 5px;
}
.event .date span#dateTwo {
    top: 180px;
}
.event .date span#month {
    top: 95px;
    left: -32px;
    margin-right: 20px;
}
.event .date span#month:lang(en){
  left: -20px;
}
.event .date span#year {
    top: 0px;
    left: -19px;
}
.singleEvent {
  /*margin-top: 150px;*/
  padding-top: 150px;
}

.singleEvent .event, .singleEvent .eventImg, .aboutImg {
  margin: auto;
  float: none;
}
.singleEvent .eventImg  .eventFrame, .singleEvent .aboutImg  .eventFrame {
  height: auto;
  overflow-y: auto;
  padding: 50px;
  margin: 80px;
}
.singleEvent .eventImg  .eventFrame img, .singleEvent .aboutImg  .eventFrame img {
  width: 100%;
  height: auto;
}
.singleEvent .event p {
  padding: 0px;
}
.eventImg h2 {
   font-family: alva !important;
   margin: 0px;
   margin-left: 80px;
}
.aboutImg h2 {
  font-family: alva !important;
}
.vertical-text {
	transform: rotate(-90deg);
    transform-origin: right bottom 0;
    position: absolute;
    top: 30px;
    right: -120px;
}
.eventsLoop {
    padding-top: 150px;
}
/* ARTICLES */
.newspaper {
  padding-top: 80px;
  padding-left: 50px;
  float: right;
  background-color: #eee;
}
.articleImg {
  width: auto !important;
  height: 100%;
}
.owl-pagination {
  height: 10px;
}
.owl-controls {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
/* ANIMATIONS */
@keyframes show {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes hide {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}
.owl-carousel .owl-wrapper-outer,.owl-carousel .owl-wrapper-outer .owl-wrapper,.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  height: 100%;
}
/* GENERALS */
.back {
  font-size: 18px;
  color: black;
  margin-top: 20px;
  display: block;
}
.owl-page {
  width: 15px;
  height: 15px;
  background-color: #000;
  display: inline-block;
  margin-right: 7px;
  /*border-radius: 50%;*/
  text-align: center;
}
.owl-pagination .active {
  background-color: #607d8b !important;
}
.socials a {
  display: inline-block;
  width:40px;
  height: 40px;
}
#facebook {
  background-image: url('../../img/facebook.svg');
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
}
#instagram {
  background-image: url('../../img/instagram.svg');
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
}
.menu nav ul li{
  margin-left: 0px;
  padding-left: 0px;
}
.languages a {
  color: #fff;
  margin-right: 5px;
  padding: 10px;
}
.activeLang {
  border: 1px solid #fff;
}
/* 404 page */
.error404 {
  height: 100%;
  margin-top: 170px;
  padding: 20%;
  background-color: #FF9800;
  color: #fff;
}
