@font-face {
  font-family: 'connect';
  src:  url('font/connect.eot?92g2ba');
  src:  url('font/connect.eot?92g2ba#iefix') format('embedded-opentype'),
    url('font/connect.ttf?92g2ba') format('truetype'),
    url('font/connect.woff?92g2ba') format('woff'),
    url('font/connect.svg?92g2ba#connect') format('svg');
  font-weight: normal;
  font-style: normal;
}

i[class*="icn-"]  {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'connect' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icn-edit:before {
  content: "\e910";
}
.icn-chat:before {
  content: "\e90b";
}
.icn-search:before {
  content: "\e909";
}
.icn-monitor:before {
  content: "\e914";
}
.icn-chart:before {
  content: "\e901";
}
.icn-file-archive:before {
  content: "\e90d";
}
.icn-file-code:before {
  content: "\e90e";
}
.icn-comment-discussion:before {
  content: "\e90a";
}
.icn-files-empty:before {
  content: "\e925";
}
.icn-file-text:before {
  content: "\e926";
}
.icn-paste:before {
  content: "\e92d";
}
.icn-forward:before {
  content: "\e969";
}
.icn-users:before {
  content: "\e972";
}
.icn-equalizer2:before {
  content: "\e993";
}
.icn-stats-dots:before {
  content: "\e99b";
}
.icn-bin:before {
  content: "\e9ac";
}
.icn-arrow-right2:before {
  content: "\ea3c";
}
.icn-embed2:before {
  content: "\ea80";
}
.icn-television:before {
  content: "\e917";
}
.icn-gear:before {
  content: "\e911";
}
.icn-line-chart:before {
  content: "\e902";
}
.icn-close:before {
  content: "\1f59a";
}
.icn-edit:before {
  content: "\e910";
}
.icn-edit2:before {
  content: "\e906";
}
.icn-cross:before {
  content: "\e900";
}
/* icons layout */
i.icn-gear {
    margin-right: 12px;
}
