div.text nav ul li a {
      font-size: 18px;
}
div.text nav {
      margin-left: 50px;
}
.news h1:lang(ka), .event h2:lang(ka) {
  font-size: 22px;
}
div.frame img {
  padding: 50px;
}
nav ul li, nav ul li a {
  margin-bottom: 8px;
}
.owl-page {
  width: 10px;
  height: 10px;
}
.singleEvent .aboutImg  .eventFrame {
    margin: 0px !important;
    padding: 80px;
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.singleEvent .eventImg  .eventFrame {
  margin: 0px !important;
  padding: 80px;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.eventVideo iframe {
  margin-top: 0px;
}
.eventsLoop {
  padding-top: 150px;
}
.menu {
  padding-top: 100px !important;
}
@media all (max-width: 460px) {
  a.col-lg-6.logoImage {
    width: 180px;
    margin-top: 10px;
}
.nav-devices svg {
  width: 150px;
  margin-top: 12px;
}
}
