<div class="table_title">TARIFS (30h) : Manuel offert</div>
<table>
<thead>
<tr>
<td>&nbsp;</td>
<td>a l'ifg</td>
<td>a distance</td>
<td>a domicile</td>
</tr>
</thead>
<tbody>
<tr class="split">
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td>1 personne</td>
<td>900 gel</td>
<td>900 gel</td>
<td>1050 gel</td>
</tr>
<tr>
<td>2 personne</td>
<td>1100 gel</td>
<td>1100 gel</td>
<td>1250 gel</td>
</tr>
<tr>
<td>2 personne</td>
<td>1100 gel</td>
<td>1100 gel</td>
<td>1250 gel</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
</tbody>
</table>